<%= form_for @post do |f| %>

	<% if @post.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h3>
      <ul>
	      <% @post.errors.full_messages.each do |msg| %>
  	      <li><%= msg %></li>
    	  <% end %>
      </ul>
    </div>
  <% end %>

  <h3> <%= f.label :title, "Title" %></h3>
	<p> <%= f.text_field :title, id:"title" %></p>
  <h3><%= f.label :body, "Content" %></h3>
	<p><%= f.text_area :body %></p>
	<%= f.submit %>	

<% end %>