<h3><%= link_to "<< Back to main page", posts_path %><h3>

<h1><%= @post.title %></h1>
<div class="entry">
<!--	<%= @post.body %> -->
	<%= @post.content.html_safe %>
</div>

<hr/>
<h2>Comments</h2>
<div id="comments">
	<%= render "comments/comment" %>
</div>

<%= render "comments/form" %>

