<h3><%= link_to "<< Back to main page", posts_path %><h3>

<h1><%= @post.title %></h1>
<div class="entry">
<!--	<%= @post.body %> -->
	<%= @post.content.html_safe %>
</div>

<hr/>
<h2>Comments</h2>
<div id="comments">
	<%= render "comments/comment" %>
</div>

<%= form_for [@post, Comment.new], remote: true do |f| %>
	<p><%= f.label :author, "Name" %></p>
	<p><%= f.text_field :author %></p>

	<p><%= f.label :body, "Comment" %></p>
	<p><%= f.text_area :body %></p>

	<%= f.submit %>

<% end %>

